@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Panel de gestión";
    var tipoUsuario = Context.Session.GetInt32("UserTypeId") ?? 0;
}

@if (tipoUsuario != 3)
{
    <div class="alert alert-danger text-center mt-4">
        No tienes permiso para acceder a esta página.
    </div>
}
else
{
    <style>
        .barra-superior {
            height: 20px;
            background: linear-gradient(to right, #00416A, #0078A0);
            margin-bottom: 30px;
        }

        .btn-lg-custom {
            padding: 20px;
            font-size: 1.25rem;
            width: 100%;
        }

        .panel-icon {
            font-size: 2rem;
            margin-right: 10px;
        }
    </style>

    <div class="barra-superior"></div>

    <div class="container mt-5">
        <h1 class="text-center mb-4 text-primary">Panel de Gestión</h1>

        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col-md-4">
                <a class="btn btn-outline-primary btn-lg-custom" asp-controller="User" asp-action="Index">
                    👤 Usuarios
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-primary btn-lg-custom" asp-controller="Center" asp-action="Index">
                    🏢 Centros
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-primary btn-lg-custom" asp-controller="ResourceType" asp-action="Index">
                    📁 Tipos de recurso
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-primary btn-lg-custom" asp-controller="Resource" asp-action="Index">
                    🧰 Recursos
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-success btn-lg-custom" asp-controller="Reservas" asp-action="Calendario">
                    📅 Calendario de Reservas
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-danger btn-lg-custom" asp-controller="Account" asp-action="Logout">
                    🔓 Cerrar sesión
                </a>
            </div>
        </div>
    </div>
}
