@model Reservas.Models.Resource

@{
    ViewData["Title"] = "Editar Recurso";
}

<h1>Editar</h1>

<h4>Recurso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="NameEuskera" class="control-label"></label>
                <input asp-for="NameEuskera" class="form-control" />
                <span asp-validation-for="NameEuskera" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NameSpanish" class="control-label"></label>
                <input asp-for="NameSpanish" class="form-control" />
                <span asp-validation-for="NameSpanish" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CenterId" class="control-label"></label>
                <select asp-for="CenterId" class="form-control" asp-items="ViewBag.Centers">
                    <option value="">-- Selecciona un centro --</option>
                </select>
                <span asp-validation-for="CenterId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResourceTypeId" class="control-label"></label>
                <select asp-for="ResourceTypeId" class="form-control" asp-items="ViewBag.ResourceTypes">
                    <option value="">-- Selecciona un tipo de recurso --</option>
                </select>
                <span asp-validation-for="ResourceTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
